.todolist__form {
  display: flex;
  row-gap: 1rem;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}
.todolist__form__group {
  flex: 0 0 100%;
  max-width: 100%;
}
.todolist__form__group input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=image]):not([type=file]),
.todolist__form__group select, 
.todolist__form__group textarea {
  display: block;
  width: 100%;
  color: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  border-radius: 2px;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  padding: 0.375rem 0.75rem;
  transition: border-color 0.15s ease, box-shadow 0.15s ease;
}
.todolist__form__group input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=image]):not([type=file]):focus,
.todolist__form__group select:focus, 
.todolist__form__group textarea:focus {
  outline: 0;
  border-color: rgb(33,33,33);
  box-shadow: 0 0 0 0.15rem rgba(33,33,33,0.25);
}
.todolist__form__group input[disabled]:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=image]):not([type=file]),
.todolist__form__group select[disabled], 
.todolist__form__group textarea[disabled] {
  background-color: #f6f6f6;
}
.todolist__form__group:nth-last-child(2) {
  flex: 1 0 0;
  max-width: inherit;
  margin-right: 1rem;
}
.todolist__form .btn {
  min-width: 145px;
}
