.todolist {
  max-width: 740px;
  margin-inline: auto;
}
.todolist__list {
  margin: 0;
  padding: 0;
  display: flex;
  row-gap: 1rem;
  flex-wrap: wrap;
  list-style: none;
}
.todolist__empty {
  margin: 0;
  color: #adb5bd;
  font-size: 1.2rem;
  text-align: center;
}
